.detail-container .description img {
    width: 99%;
}
.tableparameter {
    display: block;
    line-height: 1.3em;
    font-size: 20px;
    color: #333;
    margin-bottom: 0;
}
.parameter {
    display: block;
    position: relative;
    overflow: hidden;
    background: #fff;
    padding-top: 10px;
}
.tableparameter h2 {
    padding-left: 40px;
}
.parameter li {
    display: table;
    background: #fff;
    width: 100%;
    border-top: 1px solid #eee;
    padding: 5px 0;
}
.parameter li span {
    display: table-cell;
    width: 35%;
    vertical-align: top;
    padding: 5px 0;
    font-size: 14px;
    color: #666;
}
.parameter li div {
    display: table-cell;
    width: auto;
    vertical-align: top;
    padding: 6px 5px;
    font-size: 14px;
    color: #333;
}
.parameter li div a {
    color: #288ad6;
}
.tableparameter .price {
    display: block;
    overflow: hidden;
    padding: 10px 0;
    border-radius: 4px;
    line-height: normal;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    background: #fd6e1d;
    font-size: 25px;
    font-weight: bold;
    margin-left: 40px;
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#fd6e1d),to(#f59000));
    background: -webkit-linear-gradient(top,#f59000,#fd6e1d);
    background: -moz-linear-gradient(top,#f59000,#fd6e1d);
    background: -ms-linear-gradient(top,#f59000,#fd6e1d);
    background: -o-linear-gradient(top,#f59000,#fd6e1d);
}
.description h2 {
    display: block;
    overflow: hidden;
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    line-height: 1.3em;
    font-weight: bold;
}
.description h3 {
    display: block;
    overflow: hidden;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    line-height: 1.3em;
}
.introduce h2 {
    margin-top: 5px;
}
